DataVisualization/DataVisualization/obj/
DataVisualization/OraCore/bin/Debug/netcoreapp2.1/OraCore.pdb
DataVisualization/OraCore/bin/Debug/netcoreapp2.1/OraCore.deps.json
DataVisualization/OraCore/bin/
DataVisualization/OraCore/obj/
DataVisualization/.vs/
